@charset "UTF-8";
/*1 aula fb*/
.container {
    display: flex;
    background-color: lightsalmon;
    
}

.item {
    background-color: lightblue;
    border: 1px solid black;
    
    text-align: center;
    flex: auto;
}
/*aula2*/
.container20 {
    display: flex;
    background-color: lightsalmon;
    
}

.item20 {
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
/*aula3*/
.container10 {
    display: flex;
    background-color: lightsalmon;
    height: 100px;
    flex-flow: column wrap-reverse;
}

.item10 {
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    flex: auto; /*faz com que todo o conteúdo dentro do container se estenda até o final*/
}
/**/
.container30 {
    display: flex;
    background-color: lightsalmon;
    
    flex-flow: row nowrap;
    justify-content: space-around;
}

.item30 {
    background-color: lightblue;
    border: 1px solid black;
    
    text-align: center;
}
/**/
.container1 {
    display: flex;
    background-color: lightsalmon;
    
    flex-flow: row nowrap;
    justify-content: space-between;
}

.item1 {
    background-color: lightblue;
    border: 1px solid black;
    
    text-align: center;
}
/**/
.container2 {
    display: flex;
    background-color: lightsalmon;
    
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.item2 {
    background-color: lightblue;
    border: 1px solid black;
    
    text-align: center;
}
/**/
.container3 {
    display: flex;
    background-color: lightsalmon;
    height: 100px;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
}

.item3 {
    background-color: lightblue;
    border: 1px solid black;
    
    text-align: center;
}
/**/
.container4 {
    display: flex;
    background-color: lightsalmon;
    height: 100px;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.item4 {
    background-color: lightblue;
    border: 1px solid black;
    
    text-align: center;
}
/**/
.container5 {
    display: flex;
    background-color: lightsalmon;
    height: 100px;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

.item5 {
    background-color: lightblue;
    border: 1px solid black;
    
    text-align: center;
}
/**/
.container6 {
    display: flex;
    background-color: lightsalmon;
    height: 100px;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.item6 {
    background-color: lightblue;
    border: 1px solid black;
    
    text-align: center;
}

/*

aling-items = sempre no sentido do cross-axis

aling-items: stretch = esticar

aling-items: flex-start = sempre irá grudar na parte do inicio do eixo vertical
*/



/*flex-wrap: nowrap; = o conteúdo se adequa ao tamanho do container pai sem quebrar

flex-wrap: wrap; = quando o container é diminuido mais do que o espaço o último elemento é quebrado pro sentid do cross-axis

flex-wrap: wrap-reverse; = auto explicativo
*/



/*
wrap = quebra
flex = flexibilidade
*/

/*
justify-content = segue o main-axis

justify-content: flex-start = o primeiro item vai ficar grudado ao main-start ou seja, ao primeiro item, e o espaço em branco será jogado ao final do eixo principal

justify-content: space-between = coloca o primeiro item no main-start e o último item no main-end

justify-content: space-evenly = não gruda o primeiro e o último elemento nas extremidades do container

justify-content: space-around = 
*/