@charset "UTF-8";

body {
    height: 100vh;
    background-size: cover;
    background: black url(imagens/wallpaper002.jpg) center center no-repeat fixed;

    /*scroll = conteúdo rola junto com a imagem. fixed = rola a página mas não a imagem*/ /*combinação do cover, fixed faz com que a imagem não crie borda preta a variação do tamanho de telas e nem repita as imagens*/
}
    


/*
    Shorthand Background
        color > image > position > repeat > [size] (não funciona ainda) > attachment
*/

main {
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}