@charset "UTF-8";
/*
    em HTML id = em CSS é # (só um elemento)
    em HTML é class = em CSS é . (vários)
*/

body {
    background-color: rgb(148, 202, 148);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(82, 131, 82);
}
h2 {
    color: rgb(18, 95, 18);
}
h1#principal {/*seletor*/
    text-align: center;
    background-color: rgb(17, 190, 1);
    color: wheat;
}
.básico {
    color: rgb(6, 66, 6);
    font-weight: bold;
}
.intermediário {
    color: rgb(131, 112, 2);
}
.avançado {
    color: darkred;
}
.destaque {
    background-color: rgba(139, 139, 8, 0.692);
}