@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /*TODAS FICAM MAIÚSCULAS, mas o restante das letras ficam menores do que a primeira*/
}

header > p {
    padding-bottom: 50px;
}

header a, footer a { /*quando colocado a , simboliza que os valores dentro do chocete vão valer para ambos as tags selecionadas*/
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal { /*o . é usado quando uma "div" semântica tem uma class embutida, como o exemplo dessa*/
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(28, 28, 28);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.383);
    width: 400px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}