@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Cursiva';
    src: url('fontes/CursiveSerif-Book.ttf');
    font-weight: normal;
}

:root { /*pra criar variavel*/
    --font1: Vendana, Geneva, Tahoma, sans-serif;
    --font2: 'Alfa Slab One', cursive;
    --font3: 'CursiveSerif-Book', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /*TODAS FICAM MAIÚSCULAS, mas o restante das letras ficam menores do que a primeira*/
    font-family: var(--font2);
    font-weight: lighter;
    font-size: 10vw; /*mudar de acordo com o tamanho da tela, o tamanho das letras*/
}

header > p {
    padding-bottom: 50px;
}

header a, footer a { /*quando colocado a , simboliza que os valores dentro do chocete vão valer para ambos as tags selecionadas*/
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-style: italic;
    font-size: 2em;
    font-size: 4.5% vw;
}

#img1 {
    background-image: url(wallpaper003.jpg);
    background-position: right bottom;
    background-size: cover;
}

#img2 {
    background-image: url(wallpaper003.jpg);
    background-position: left top;
    background-size: cover;
}

section.normal { /*o . é usado quando uma "div" semântica tem uma class embutida, como o exemplo dessa*/
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(28, 28, 28);
    color: white;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.526); /*sombra pra dentro da box*/
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.383);
    padding: 5px;
    text-shadow: 1px 1px 0px black; /*somba no texto*/
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}