@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf');
    font-weight: normal;
}

/*
83elad
3ddc84
2fa886
1a5c37
063dle
*/
:root { /*variavel para cores*/
    --cor0: #e3f2fd; /* Azul muito claro */
    --cor1: #90caf9; /* Azul claro */
    --cor2: #42a5f5; /* Azul médio */
    --cor3: #1e88e5; /* Azul forte */
    --cor4: #1565c0; /* Azul escuro */
    --cor5: #0d47a1;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* { /*para todos os elementos (no chat gpt foi usado, provavelmente para evitar conflito entre os espaçamentos e bordas que já vem aplicado automaticamente)*/
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding: 40px 0px 0px 0px;
}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px black;
}
header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px black;
}
nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}
nav > a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .3s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}
nav > a:active {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.996);
}
main {
    background: white;
    min-width: 300px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.637);
    border-radius: 0px 0px 10px 10px;
}
main h1 {
    color: var(--cor05);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em; /*tamanho da fonte especificada*/
}
main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-weight: normal;
    text-indent: 8px;
}
main p { /*sem o > é aplicado a todos os paragráfos do código em html, esteja fora de tag ou não*/
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em; /*altura entre as linhas do texto*/
}
main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}
main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}
main > img {
    width: 100%;
}
main img.pq {
    max-width: 350px;
    display: block;
    margin: auto;
}
/*gambiarra para os vídeos ficarem centralizados no site*/
.video { 
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
.video > iframe { 
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
/*gambiarra para os vídeos ficarem centralizados no site*/
abbr {
    text-decoration: none;
}
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}
aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px; /*fez o h3 encaixar com a parte de cima da box do aside, fazendo ela ser excluída e ele se tornando essa parte excluída*/
    border-radius: 10px 10px 0px 0px; /*coloca a borda do aside que foi tirada pela margem criada a cima, ser criada no h3 já que ela virou a parte superior*/
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.155);
}
aside > ul {
    list-style-type: '\2714\00A0\00A0'; /*mudar o formato de marcação da lista por emoji (não é compatível com todo navegador)*/
    list-style-position: inside; /*o formato da marcação da lista(square, disc, circle etc...) fica do lado de dentro da div "aside"*/
    columns: 2; /*dividir a lista em duas colunas*/

}
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}