@charset "UTF-8";

body{
    background-color: gray;
}
main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    min-width: 280px; /*resolução da tela do celulares mais antigos (as menores telas)*/
    max-width: 800px; /*resolução máxima para o site ficar em modo PC*/
    margin: auto; /*centraliza no meio independente do tamanho da tela*/
}

img {
    width: 100%;
}